@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@font-face {
  font-family: "SmoothPixel";
  src: url("./fonts/SmoothPixel-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFEFEF;
  margin: 0;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
}

body::-webkit-scrollbar, html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}